div .px-data-grid {
  border: 0px !important;
  margin-top: 5px;
}
div .px-data-grid table {
  margin-bottom: 0 !important;  
  width: 100%;
  display: block;
  overflow-x: auto;
}
.px-data-grid table.dataTable.select tbody tr, table.dataTable thead th:first-child {
  cursor: pointer;
  width: 1%;
}
.px-data-grid table.dataTable tbody tr, table.dataTable thead th {

  /*cursor: pointer;*/
  white-space: nowrap;
}
.px-data-grid .dataTable {
  clear: both;
}
.px-data-grid .dataTable thead .sorting_asc, .px-data-grid .dataTable thead .sorting_desc, .px-data-grid .dataTable thead .sorting {
  cursor: pointer;
}
.px-data-grid .dataTable thead .sorting_asc:after, .px-data-grid .dataTable thead .sorting_desc:after, .px-data-grid .dataTable thead .sorting:after {
  font-family: FontAwesome;
  padding-left: 5px;
  right: 0;
  color: #999999;
}
.px-data-grid .dataTable thead .sorting:after {
  content: "\f0dc";
}
.px-data-grid .dataTable thead .sorting_asc:after {
  content: "\f0de";
}
.px-data-grid .dataTable thead .sorting_desc:after {
  content: "\f0dd";
}
.px-data-grid .dataTable thead .sorting_asc:after, .px-data-grid .dataTable thead .sorting_desc:after {
  color: #1d1d1d;
}
.px-data-grid .dataTables_wrapper .dataTables_filter label, .px-data-grid .dataTables_wrapper .dataTables_length label {
  vertical-align: middle;
}
.px-data-grid .dataTables_wrapper .dataTables_filter input, .px-data-grid .dataTables_wrapper .dataTables_length input, .px-data-grid .dataTables_wrapper .dataTables_filter select, .px-data-grid .dataTables_wrapper .dataTables_length select {
  border: 1px #d9d9d9 solid;
  width: auto;
  height: 100%;
  padding: 5px;
  z-index: 1;
  position: relative;
}
.px-data-grid .dataTables_wrapper .dataTables_filter input:focus, .px-data-grid .dataTables_wrapper .dataTables_length input:focus, .px-data-grid .dataTables_wrapper .dataTables_filter select:focus, .px-data-grid .dataTables_wrapper .dataTables_length select:focus {
  outline: 0;
  border-color: #919191;
}
.px-data-grid .dataTables_wrapper .dataTables_length {
  float: left;
}
.px-data-grid .dataTables_wrapper .dataTables_length select {
  margin: 0 5px;
}
.px-data-grid .dataTables_wrapper .dataTables_filter {
  float: right;
}
.px-data-grid .dataTables_wrapper .dataTables_filter input {
  margin-left: 5px;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle !important;
  background-color: #d9d9d9;
  border: 1px transparent solid;
  color: #222222;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  outline: none;
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: auto;
  color: inherit;
  display: block;
  float: left;
  margin-right: 1px;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.default {
  background-color: #008287;
  color: #fff;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
  outline: 0;
  border: 1px #353535 dotted;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button:disabled, .px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  background-color: #eaeaea !important;
  color: #bebebe !important;
  cursor: not-allowed !important;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button * {
  color: inherit;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button *:hover {
  color: inherit;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.primary {
  background-color: #16499a !important;
  color: #ffffff !important;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.info {
  background-color: #4390df !important;
  color: #ffffff !important;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.success {
  background-color: #60a917 !important;
  color: #ffffff !important;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.warning {
  background-color: #fa6800 !important;
  color: #ffffff !important;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.danger {
  background-color: #9a1616 !important;
  color: #ffffff !important;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.inverse {
  background-color: #1d1d1d !important;
  color: #ffffff !important;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.link {
  background-color: transparent !important;
  color: #2e92cf !important;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.link:hover {
  text-decoration: underline;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.link:disabled, .px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.link.disabled {
  background-color: transparent !important;
  color: #bebebe !important;
  cursor: not-allowed !important;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.link [class*="icon-"] {
  text-decoration: none !important;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background-color: #1d1d1d !important;
  color: #ffffff !important;
  border-color: transparent;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.large {
  padding: 11px 19px;
  font-size: 17.5px;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.small {
  padding: 2px 10px;
  font-size: 11.9px;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.mini {
  padding: 0px 6px;
  font-size: 10.5px;
}
.px-data-grid .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: #4390df;
  color: #ffffff;
}
.px-data-grid .dataTables_wrapper .dataTables_info {
  float: left;
}
.px-data-grid .dataTables_wrapper .dataTables_scrollHeadInner table {
  margin: 0 !important;
}
.px-data-grid .dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -2em;
  width: 200px;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2);
}
.px-data-grid .dataTables_wrapper .dataTables_scroll {
  clear: both;
}
.px-data-grid .dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.px-data-grid .px-fit {
  border-radius: 0px;
}
.px-data-grid .px-fit-mobile {
  border-radius: 0px;
  width: 100%;
}
.px-data-grid .px-pointer {
  cursor: pointer;
}
.px-data-grid .edit i {
  cursor: pointer;
}
.px-data-grid .link i {
  cursor: pointer;
}
.px-data-grid .tfoot th {
  border: none;
}
table .tfoot:last-child {
  border: none;
}
.px-data-grid .table-bordered {
  border: none;
  border-top: 1px solid #ddd !important;
}