<!DOCTYPE html>
<html lang="pt-br" ng-app="demo">

<head>
    <meta charset="utf-8">
    <title>px-module</title>
    <!-- css -->
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../dist/px-data-grid/px-data-grid.min.css">
    <!-- data-grid dependencies -->
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/angular-i18n/angular-locale_pt-br.js"></script>
    <script src="../lib/angular-ui-mask/dist/mask.min.js"></script>
    <script src="../lib/numeral/min/numeral.min.js"></script>
    <script src="../lib/moment/min/moment-with-locales.min.js"></script>
    <script src="../lib/numeral/min/languages.min.js"></script>
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- px-config -->    
    <script src="../../dist/px-config/px-config.js"></script>
    <!-- px-util -->
    <script src="../../dist/px-util/px-util.js"></script>
    <!-- px-data-grid -->
    <script src="../../dist/px-data-grid/px-data-grid.js"></script>
    <!-- app -->
    <script src="app.js"></script>
</head>

<body class="container" ng-controller="DataGridCtrl">
    <section id="mask">
        <div class="page-header">
            <h1>Phoenix Module (px-data-grid)
                <small><a href="https://github.com/wesleifreitas/px-module" target="_blank">GitHub</a></small>
            </h1>
        </div>
        <div class="row pull-right">
            <div class="col-md-12">
                <button class="btn btn-default" ng-click="getData()">Listar</button>
                <button class="btn btn-default" ng-click="addDataRow()">Adicionar</button>
                <button class="btn btn-default" ng-click="removeRow()">Remover</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <px-data-grid id="dgExemplo" px-debug="true" px-control="dgExemploControl" px-init="dgExemploInit()" px-config="{{dgExemploConfig}}" px-data-init="false" px-check="true" px-item-click="itemClick(event)">
                </px-data-grid>
            </div>
        </div>
    </section>
</body>

</html>
